@import url("https://fonts.googleapis.com/css?family=Average&display=swap");
.App {
  background: #a7a5a5;
  background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.3),
      rgba(0, 0, 93, 0.3)
    ),
    url("/src/assets/hogwarts-hall.jpg");
  background-size: cover;
  font-family: "Average", serif;
  text-align: center;
  width: 100vw;
  height: 100vh;
  color: white;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  overflow-x: hidden;
}
.App h2 {
  max-width: 250px;
}
.pages {
  width: 100vw;
  height: 100vh;
}
.hat {
  max-width: 200px;
}
.card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.house-name {
  font-size: 20px;
  font-weight: bold;
}
.loader {
  font-size: 25px;
}
button {
  font: 12px/18px "Roboto Regular", Arial, sans;
  letter-spacing: 1.5px;
  background: #263650;
  text-transform: uppercase;
  margin-top: 20px;
  padding: 8px 24px;
  border: 1px solid;
  border-color: inherit;
  text-decoration: none;
  color: inherit;
  transition: all 0.5s;
  cursor: pointer;
  border-radius: 0;
}
button:hover {
  background: white;
  color: #263650;
}
.main-nav ul {
  font-family: cursive;
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  color: white;
  font-size: 30px;
  padding-top: 40px;
}
.main-nav ul li a {
  color: white;
  text-decoration: none;
  padding: 5px;
  transition: all 0.2s ease-in;
  background-size: 0px;
}
.main-nav ul li a:hover {
  color: #a7a5a5;
  background: white;
  background-size: 100%;
  border-radius: 5px;
}
.spell {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: auto;
  grid-gap: 20px;
  grid-auto-flow: row;
  justify-content: center;
  align-items: center;
}
.spell-list {
  background: #263650;
  padding: 10px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.character-list {
  background: #fff;
  color: #263650;
  padding: 10px;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.3), 0 15px 12px rgba(0, 0, 0, 0.22);
}
